<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/icon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Image Service</title>
    <link href="~/Styles/basic_styles.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top"  style="background-color:white;color:#222222;">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/icon.ico" alt="logo" style="max-width:50px;float:left;margin-right:20px; margin-left:-20px;" />
                @Html.ActionLink("Image Web", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Config", "Config", "Home", new { area = ""}, new { @class = "navbar-brand" })
                @Html.ActionLink("Logs", "Logs", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Photos", "Photos", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

<style>
    body{
        background-color:#222222;
        color:lightgray;
    }
    navbar-brand{
        color:hotpink;
    }
    .navbar-brand{
        color:hotpink;
    }
    #navbar-brand:hover a{ 
     color:#222222;
}
</style>