@model ImageServiceWeb.Models.Config.ConfigModel
@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>
<!-- Modal -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-backdrop="static" style="background-color:#222222;">
    <div class="modal-dialog" style="background-color:#222222;color:white;">
        <div class="modal-content" style="background-color:#222222;color:white;">
            <div class="modal-header" style="background-color:#222222;color:white;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Item</h4>
            </div>
            <div id="deleteModalBody" class="modal-body">
            </div>
            <div id="deleteModalFooter"class="modal-footer">
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel"/>
                @using (Html.BeginForm("OnDelete", "Home", FormMethod.Post, new { id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                        <input type="submit" value="Yes" class="btn btn-primary" />
                }
                <script>
                    $("#confirmDelete").on("click", function () {
                        ("#deleteForm").submit();
                    })
                </script>
                
            </div>
        </div>
    </div>
</div>

<table class="table" rules="none">
    <tr>
        <td>@Html.DisplayNameFor(model => model.OutputDir)</td>
        <th>@Html.DisplayFor(model => model.OutputDir)</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.SourceName)</td>
        <th>@Html.DisplayFor(model => model.SourceName)</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.LogName)</td>
        <th>@Html.DisplayFor(model => model.LogName)</th>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.ThumbnailSize)</td>
        <th>@Html.DisplayFor(model => model.ThumbnailSize)</th>
    </tr>
</table>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Handlers)</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Handlers)
    {
        <tr>
            <td>
                <a href="#" class="deleteLink" id="@item">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" style="margin-right:5px"></span>
                </a>
                <script>
                    $("#deleteModal").modal("hide");
                    $(".deleteLink").on("click", function () {
                        $.get('@Url.Action("GetDeletePartial")', { id: $(this).prop("id") }, function (data) {
                            $("#deleteModalBody").html(data);
                            $("#deleteModal").modal("show");
                        });
                    });
                </script>
                @Html.DisplayFor(modelItem => item)
            </td>
        </tr>
    }
</table>

