@model ImageServiceWeb.Models.PhotosModel.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>
<!-- Modal -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="background-color:#222222;">
    <div class="modal-dialog" style="background-color:#222222;color:white;">
        <div class="modal-content" style="background-color:#222222;color:white;">
            <div class="modal-header" style="background-color:#222222;color:white;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Item</h4>
            </div>
            <div id="deleteModalBody" class="modal-body">
            </div>
            <div id="deleteModalFooter" class="modal-footer">
                @using (Html.BeginForm("OnDeletePhoto", "Home", FormMethod.Post, new { id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel" />
                    <input type="submit" value="Yes" class="btn btn-primary" />
                }
                <script>
                    $("#confirmDelete").on("click", function () {
                        ("#deleteForm").submit();
                    })
                </script>

            </div>
        </div>
    </div>
</div>

@foreach (var item in Model.Photos)
{
    <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail" style="background-color:#222222;overflow:hidden;width:2500px;height:350px;">
            <img src=@Url.Content(item.RelativePath) class="img-circle" alt=@item.Name style="width:200px;height:200px;overflow:hidden;">
            <div class="caption">
                <h3 style="color:white">@item.Name</h3>
                <p style="color:white">@item.Date</p>
                <p>
                    <a href="#">@Html.ActionLink("View","ViewPhoto", new { photo = item.Name }, new { @class = "btn btn-primary btn-xs" })</a>
                    <a href="#" class="deleteLink" id="@item.Name">
                        <span class="btn btn-danger btn-xs">Delete</span>
                    </a>
                    <script>
                    $("#deleteModal").modal("hide");
                    $(".deleteLink").on("click", function () {
                        $.get('@Url.Action("PhotosDelete")', { id: $(this).prop("id") }, function (data) {
                            $("#deleteModalBody").html(data);
                            $("#deleteModal").modal("show");
                        });
                    });
                    </script>
                </p>
               
            </div>
        </div>
    </div>
}
