@model ImageServiceWeb.Models.PhotosModel.PhotoInfo
@{
    ViewBag.Title = "ViewPhoto";
}

<h2>@Model.Name</h2>
<h3>
    @Model.Date
    <a href="#" class="deleteLink" id="@Model.Name">
        <span class="glyphicon glyphicon-trash" aria-hidden="true" style="margin-left:10px"></span>
    </a>
</h3>
<img src="@Url.Content(Model.RelativePath)" style="width:600px;" />

<!-- Modal -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="background-color:#222222;">
    <div class="modal-dialog" style="background-color:#222222;color:white;">
        <div class="modal-content" style="background-color:#222222;color:white;">
            <div class="modal-header" style="background-color:#222222;color:white;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Item</h4>
            </div>
            <div id="deleteModalBody" class="modal-body">
            </div>
            <div id="deleteModalFooter" class="modal-footer">
                @using (Html.BeginForm("OnDeletePhoto", "Home", FormMethod.Post, new { id = "deleteForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancel" />
                    <input type="submit" value="Yes" class="btn btn-primary" />
                }
                <script>
                    $("#confirmDelete").on("click", function () {
                        ("#deleteForm").submit();
                    })
                </script>

            </div>
        </div>
    </div>
</div>


<script>
    $("#deleteModal").modal("hide");
    $(".deleteLink").on("click", function () {
        $.get('@Url.Action("PhotosDelete")', { id: $(this).prop("id") }, function (data) {
            $("#deleteModalBody").html(data);
            $("#deleteModal").modal("show");
        });
    });
</script>